<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <meta content="terraformer" name="description">
        <meta content="Gerhard Richard Edens" name="author">

        <link href="/flavicon.png?{{ cachebust }}" rel="icon" type="image/png">

        <!-- Messgaes CSS -->
        <link href="assets/css/pages/messages.css?{{ cachebust }}" rel="stylesheet">

        <!-- Base CSS -->
        <link href="assets/css/basestyle/style.css?{{ cachebust }}" rel="stylesheet">

        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Date Range Picker -->
        <link href="assets/css/daterangepicker/daterangepicker.css?{{ cachebust }}" rel="stylesheet" type="text/css"/>

        <!-- Full Calendar Icons -->
        <link href="assets/css/fullcalendar/fullcalendar.css?{{ cachebust }}" rel="stylesheet">

        <!-- Full Calendar Icons -->
        <link href="css/wireframe.css?{{ cachebust }}" rel="stylesheet">

        <!-- Prism -->
        <link href="css/prism.css?{{ cachebust }}" rel="stylesheet">

        <!-- Bootswatch -->
        <link href="css/bootstrap.min.css?{{ cachebust }}" rel="stylesheet">

        <!-- Visual Studio Code Monaco -->
        <link data-name="vs/editor/editor.main" href="js/vs/editor/editor.main.css" rel="stylesheet">

        <title>{{ title }}</title>

        <!-- Base ref -->
        <base href="/">

    </head>
    <body>

        <app-root></app-root>
        <script type="text/javascript" src="app/runtime.js?{{ cachebust }}"></script>
        <script type="text/javascript" src="app/s2015-polyfills.js?{{ cachebust }}" nomodule></script>
        <script type="text/javascript" src="app/polyfills.js?{{ cachebust }}"></script>
        <script type="text/javascript" src="app/styles.js?{{ cachebust }}"></script>
        <script type="text/javascript" src="app/vendor.js?{{ cachebust }}"></script>
        <script type="text/javascript" src="app/main.js?{{ cachebust }}"></script>


    </body>
</html>
