<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <meta content="terraformer" name="description">
        <meta content="Gerhard Richard Edens" name="author">

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Messgaes CSS -->
        <link
        href="assets/css/pages/messages.css?{{ cachebust }}" rel="stylesheet">

        <!-- Base CSS -->
        <link
        href="assets/css/basestyle/style.css?{{ cachebust }}" rel="stylesheet">

        <!-- Material Icons -->
        <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Date Range Picker -->
        <link
        href="assets/css/daterangepicker/daterangepicker.css?{{ cachebust }}" rel="stylesheet" type="text/css"/>

        <!-- Full Calendar Icons -->
        <link
        href="assets/css/fullcalendar/fullcalendar.css?{{ cachebust }}" rel="stylesheet">

        <!-- Full Calendar Icons -->
        <link
        href="css/wireframe.css?{{ cachebust }}" rel="stylesheet">

        <!-- Prism -->
        <link
        href="css/prism.css?{{ cachebust }}" rel="stylesheet">

        <!-- Visual Studio Code Monaco -->
        <link data-name="vs/editor/editor.main" href="js/vs/editor/editor.main.css" rel="stylesheet">

        <title>{{ title }}</title>


    </head>
    <body>

        <!-- Pre Loader-->
        <div class="loader-wrapper">
            <div class="spinner">
                <svg viewbox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="length" cx="33" cy="33" fill="none" r="28" stroke-linecap="round" stroke-width="6"></circle>
                </svg>
                <svg viewbox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="33" cy="33" fill="none" r="28" stroke-linecap="round" stroke-width="6"></circle>
                </svg>
                <svg viewbox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="33" cy="33" fill="none" r="28" stroke-linecap="round" stroke-width="6"></circle>
                </svg>
                <svg viewbox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="33" cy="33" fill="none" r="28" stroke-linecap="round" stroke-width="6"></circle>
                </svg>
            </div>
        </div>
        <!-- Pre Loader-->


        <section
            class="wrapper">


            <!-- SIDEBAR -->
            <aside class="sidebar">
                <nav class="navbar navbar-dark bg-primary">
                    <a class="navbar-brand m-0 py-2 brand-title" href="#">terraformer</a>
                    <span></span>
                    <a class="navbar-brand py-2 material-icons toggle-sidebar" href="#">menu</a>
                </nav>

                <nav class="navigation">
                    <ul>
                        <li class="active">
                            <a href="index.html" title="Dashboard">
                                <span class="nav-icon material-icons">public</span>
                                Dashboard</a>
                        </li>
                        <li title="Theme Settings">
                            <a href="theme-setting.html">
                                <span class="nav-icon material-icons ">color_lens</span>
                                Theme Settings
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Layout Options">
                                <span class="nav-icon material-icons">dashboard</span>
                                Layout Options<span class="toogle-sub-nav material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="sub-nav">
                                <li>
                                    <a href="top-navigation.html" title="Top Navigation">Top Navigation</a>
                                </li>
                                <li>
                                    <a href="fixed-layout.html" title="Fixed Layout">Fixed Layout</a>
                                </li>
                                <li>
                                    <a href="sidebar-variations.html" title="Compact Menu">Sidebar Variations</a>
                                </li>
                                <li>
                                    <a href="fluid-content.html" title="Fluid Content">Fluid Content</a>
                                </li>
                                <li>
                                    <a href="fixed-content.html" title="Fixed Content">Fixed Content</a>
                                </li>
                                <li>
                                    <a href="tabded-header.html" title="Tabded Header">Tabded Header</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <label title="UI Elements & Widgets">
                        <span>UI Elements & Widgets</span>
                    </label>
                    <ul>
                        <li>
                            <a href="#" title="UI Componets">
                                <span class="nav-icon material-icons ">extension</span>
                                UI Componets
                                <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="sub-nav">
                                <li>
                                    <a href="general-elements.html" title="">General Elements</a>
                                </li>
                                <li>
                                    <a href="buttons.html" title="Buttons">Buttons</a>
                                </li>
                                <li>
                                    <a href="modals.html" title="Modals">Modals</a>
                                </li>
                                <li>
                                    <a href="tabs-navs.html" title="Tabs & Navs">Tabs &amp; Navs</a>
                                </li>
                                <li>
                                    <a href="full-calendar.html" title="Full Calendar">Full Calendar</a>
                                </li>
                                <li>
                                    <a href="icons.html" title="Icons">Icons</a>
                                </li>
                                <li>
                                    <a href="typography.html" title="Typography">Typography</a>
                                </li>
                                <li>
                                    <a href="tree-view.html" title="Tree View">Tree View</a>
                                </li>
                                <li>
                                    <a href="bootstrap-grid.html" title="Bootstrap Grid">Bootstrap Grid</a>
                                </li>
                                <li>
                                    <a href="loaders.html" title="Loaders">Loaders</a>
                                </li>
                            </ul>
                        </li>
                        <li class="Form Stuff">
                            <a href="#" title="">
                                <span class="nav-icon material-icons ">assignment</span>
                                Form Stuff
                                <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="sub-nav">
                                <li>
                                    <a href="form-styling.html" title="Form Styling">Form Styling</a>
                                </li>
                                <li>
                                    <a href="form-validation.html" title="Form Validation">Form Validation</a>
                                </li>
                                <li>
                                    <a href="pickers.html" title="Pickers">Pickers</a>
                                </li>
                                <li>
                                    <a href="form-wizard.html" title="Form Wizard">Form Wizard</a>
                                </li>
                                <li>
                                    <a href="code-editor.html" title="Code Editor">Code Editor</a>
                                </li>
                                <li>
                                    <a href="wysihtml-editor.html" title="Wysihtml Editor">Wysihtml Editor</a>
                                </li>
                                <li>
                                    <a href="file-uploder.html" title="File Uploader">File Uploader</a>
                                </li>
                                <li>
                                    <a href="image-croping.html" title="Image Croping">Image Croping</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Data Grid">
                                <span class="nav-icon material-icons ">apps</span>
                                Data Grid
                                <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="sub-nav">
                                <li>
                                    <a href="basic-tables.html" title="Basic Tables">Basic Tables</a>
                                </li>
                                <li>
                                    <a href="static-data-grid.html" title="Data Grid">Static Data Grid</a>
                                </li>
                                <li>
                                    <a href="data-grid.html" title="Data Grid">Data Grid</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Charts">
                                <span class="nav-icon material-icons ">equalizer</span>
                                Charts
                                <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="sub-nav">
                                <li>
                                    <a href="basic-charts.html" title="Basic Charts">Basic Charts</a>
                                </li>
                                <li>
                                    <a href="advanterraformer-charts.html" title="Advanterraformer Charts">Advanterraformer Charts</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Google Maps">
                                <span class="nav-icon material-icons ">place</span>
                                Google Maps
                                <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="sub-nav">
                                <li>
                                    <a href="general-maps.html" title="Maps">General Maps</a>
                                </li>
                                <li>
                                    <a href="advanterraformer-maps.html" title="Maps">Advanterraformer Maps</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <label title="Applications and Pages">
                        <span>Applications and Pages</span>
                    </label>
                    <ul>
                        <li>
                            <a href="#" title="eCommerce">
                                <span class="nav-icon material-icons ">shopping_cart</span>
                                eCommerce
                                <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="sub-nav">
                                <li>
                                    <a href="ecommerce-dashboard.html" title="Dashboard">Dashboard</a>
                                </li>
                                <li>
                                    <a href="ecommerce-orders.html" title="Orders">Orders</a>
                                </li>
                                <li>
                                    <a href="ecommerce-products.html" title="Products">Products</a>
                                </li>
                                <li>
                                    <a href="ecommerce-customers.html" title="Customers">Customers</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#" title="">
                                <span class="nav-icon material-icons ">widgets</span>
                                Applications
                                <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="sub-nav">
                                <li>
                                    <a href="mailbox.html" title="MailBox">MailBox</a>
                                </li>
                                <li>
                                    <a href="messages.html" title="Messages">Messages</a>
                                </li>
                                <li>
                                    <a href="task-manager.html" title="Task Manager">Task Manager</a>
                                </li>
                                <li>
                                    <a href="notes.html" title="Notes">Notes</a>
                                </li>
                                <li>
                                    <a href="calendar.html" title="Calendar">Calendar</a>
                                </li>
                                <li>
                                    <a href="photos-videos.html" title="Photos & Videos">Photos & Videos
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Blogger">
                                <span class="nav-icon material-icons">comment</span>
                                Blogger
                                <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="sub-nav">
                                <li>
                                    <a href="blogger-feed-list.html" title="Feed List">Feed List</a>
                                </li>
                                <li>
                                    <a href="blogger-post.html" title="Post">Post</a>
                                </li>
                                <li>
                                    <a href="blogger-add-post.html" title="Add Post">Add Post</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Genral Pages">
                                <span class="nav-icon material-icons">school</span>
                                Genral Pages
                                <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="sub-nav">
                                <li>
                                    <a href="http://cosmoadmin.com/" target="_blank" title="Landing Page">Landing Page</a>
                                </li>
                                <li>
                                    <a href="timeline.html" title="Timeline">Timeline</a>
                                </li>
                                <li>
                                    <a href="profile.html" title="Profile">Profile</a>
                                </li>
                                <li>
                                    <a href="invoice.html" title="Invoice">Invoice</a>
                                </li>
                                <li>
                                    <a href="search.html" title="Search">Search</a>
                                </li>
                                <li>
                                    <a href="faq.html" title="FAQ">FAQ</a>
                                </li>
                                <li>
                                    <a href="about-us.html" title="About Us">About Us</a>
                                </li>
                                <li>
                                    <a href="conatct-us.html" title="Contact Us">Contact Us</a>
                                </li>
                                <li>
                                    <a href="full-screen.html" title="Full Screen">Full Screen</a>
                                </li>
                                <li>
                                    <a href="blank-page.html" title="Blank Page">Blank Page</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="System Pages">
                                <span class="nav-icon material-icons">settings</span>
                                System Pages
                                <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="sub-nav">
                                <li>
                                    <a href="sign-in.html" title="Signin">Signin</a>
                                </li>
                                <li>
                                    <a href="sign-up.html" title="Signup">Signup</a>
                                </li>
                                <li>
                                    <a href="coming-soon.html" title="Coming Soon">Coming Soon</a>
                                </li>
                                <li>
                                    <a href="404-page.html" title="404 Page">404 Page</a>
                                </li>
                                <li>
                                    <a href="500-page.html" title="500 Page">500 Page</a>
                                </li>
                            </ul>
                        </li>
                        <!--<li class="notification alert-notify"><a href="#"><span class="nav-icon material-icons">question_answer</span> Forms <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span></a></li>-->
                    </ul>

                    <label title="Knowlage Center">
                        <span>Knowlage Center<span></label>
                            <ul>
                                <li><a href="documentation.html" title="Documentation"><span class="nav-icon material-icons">school</span>Documentation</a></li>
                                <li><a href="https://themeforest.net/item/cosmo-bootstrap-4-responsive-admin-dashboard-template/22392885/support" target="_blank" title="Help & Support"><span class="nav-icon material-icons">help</span>Help &amp; Support</a></li>
                                <li><a href="utilities.html" title="Utilities"><span class="nav-icon material-icons">build</span>Utilities</a></li>

                            </ul>
                        </nav>

                    </aside>


                    <!--RIGHT CONTENT AREA-->
                    <div class="content-area">

                        <header class="header sticky-top">
                            <nav class="navbar navbar-light bg-white px-sm-4 ">
                                <a class="navbar-brand py-2 d-md-none  m-0 material-icons toggle-sidebar" href="#">menu</a>
                                <ul class="navbar-nav flex-row ml-auto">
                                    <li class="nav-item" data-placement="bottom" data-toggle="tooltip" title="Switch Application">
                                        <a class="nav-link" data-target="#switchApp" data-toggle="modal" href="#">
                                            <span class="material-icons align-middle">apps</span>
                                        </a>
                                    </li>
                                    <li class="nav-item notification">
                                        <a class="nav-link" data-toggle="dropdown" href="#" id="notificationDropdown">
                                            <span class="material-icons align-middle">notifications_none</span>
                                        </a>
                                        <div aria-labelledby="notificationDropdown" class="dropdown-menu p-0 dropdown-lg notificationDropdown dropdown-menu-right">

                                            <a class="dropdown-item py-3 border-bottom" href="#">
                                                <p class="text-muted mb-1">
                                                    <small>John Doe Application</small>
                                                </p>
                                                <div class="progress" style="height:8px;">
                                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success" role="progressbar" style="width: 25%"></div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item py-3 border-bottom" href="#">
                                                <p class="text-muted mb-1">
                                                    <small>Akshay Application</small>
                                                </p>
                                                <div class="progress" style="height:8px;">
                                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" class="progress-bar bg-warning" role="progressbar" style="width: 75%"></div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item whitespace-normal py-3 border-bottom" href="#">
                                                <div class="media">
                                                    <img class="mr-3 rounded" src="assets/images/user.png" width="26">
                                                    <div class="media-body">
                                                        <h6 class="m-0 weight-400">Media heading</h6>
                                                        <small class="text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.</small>
                                                    </div>
                                                </div>
                                            </a>

                                            <a class="dropdown-item py-3 border-bottom" href="#">
                                                <p class="text-muted mb-1">
                                                    <small>Uploading Documents</small>
                                                </p>
                                                <div class="progress" style="height:8px;">
                                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" class="progress-bar-animated bg-primary progress-bar-striped" role="progressbar" style="width: 40%"></div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item py-3 border-bottom" href="#">
                                                <span class="badge badge-pill badge-danger mr-2">Warning</span>
                                                <small class="text-muted">Somthing went wrong !</small>
                                            </a>
                                            <button class="btn btn-light btn-sm btn-block" type="button">View All</button>
                                        </div>
                                    </li>
                                    <li class="nav-item ml-sm-3 user-logedin dropdown">
                                        <a class="nav-link weight-400 dropdown-toggle" data-toggle="dropdown" href="#" id="userLogedinDropdown"><img class="mr-2 rounded" src="assets/images/user.png" width="28">Akshay kumar</a>
                                        <div aria-labelledby="userLogedinDropdown" class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="profile.html">My Account</a>
                                            <a class="dropdown-item" href="profile.html">Account Settings</a>
                                            <a class="dropdown-item" href="https://themeforest.net/item/brio-web-app-bootstrap-admin-template-dashboard/9529051/support" target="_blank">Help & Support</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/">Log Out</a>
                                        </div>
                                    </li>

                                </ul>
                            </nav>
                        </header>


                        <div class="content-wrapper">

                            <div class="row page-tilte align-items-center">
                                <div class="col-md-auto">
                                    <a class="mt-3 d-md-none float-right toggle-controls" href="#">
                                        <span class="material-icons">keyboard_arrow_down</span>
                                    </a>
                                    <h1 class="weight-300 h3 title">Create userstory</h1>
                                    <p class="text-muted m-0 desc">Let's create a user story that we can interper.</p>
                                </div>
                                <div class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block ">
                                    <div class="controls d-flex justify-content-center justify-content-md-end">
                                        <input class="form-control date-rage width-260" type="text">
                                        <button class="btn btn-danger" type="button">Apply Range</button>
                                        <span class="dropdown">
                                            <button class="btn btn-secondary py-1 px-2" data-toggle="dropdown" id="downloadGrid" type="button">
                                                <span class="material-icons align-text-bottom">save_alt</span>
                                            </button>
                                            <div aria-labelledby="downloadGrid" class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">Save as PDF</a>
                                                <a class="dropdown-item" href="#">Save as Image</a>
                                                <a class="dropdown-item" href="#">Save as Word</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Export Excel</a>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6 col-xl-12">
                                    <div class="card-header p-0">
                                        <ul class="nav nav-tabs active-thik nav-primary border-0" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a aria-controls="userstory" aria-selected="true" class="nav-link px-4 py-3 active rounded-0" data-toggle="tab" href="#userstory" id="userstory-tab" role="tab">Userstory / Process flow</a>
                                            </li>
                                            <li class="nav-item">
                                                <a aria-controls="wireframe" aria-selected="false" class="nav-link px-4 py-3 rounded-0" data-toggle="tab" href="#wireframe" id="wireframe-tab" role="tab">Wireframe generated</a>
                                            </li>
                                            <li class="nav-item">
                                                <a aria-controls="scriptsrc" aria-selected="false" class="nav-link px-4 py-3 rounded-0" data-toggle="tab" href="#scriptsrc" id="scriptsrc-tab" role="tab">Automation script</a>
                                            </li>
                                            <li class="nav-item">
                                                <a aria-controls="codeedit" aria-selected="false" class="nav-link px-4 py-3 rounded-0" data-toggle="tab" href="#codeedit" id="codeedit-tab" role="tab">Code editor</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body">

                                        <div class="tab-content" id="myTabContent">
                                            <div aria-labelledby="userstory-tab" class="tab-pane fade show active" id="userstory" role="tabpanel">

                                                <div class="card mb-sm-12 mb-12">
                                                    <div class="card-body p-0">
                                                        <div class="p-3 pl-4">

                                                            <div class="media align-items-center">
                                                                <div class="media-body">
                                                                    <small class="text-muted weight-300">Userstory</small>
                                                                    <p class="m-0 weight-400">Write your user story here.</p>
                                                                </div>
                                                                <span class="dropdown">
                                                                    <a aria-expanded="false" aria-haspopup="true" class="text-muted" data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">
                                                                        <span class="material-icons">more_vert</span>
                                                                    </a>

                                                                    <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right">
                                                                        <a class="dropdown-item" href="#">Daily</a>
                                                                        <a class="dropdown-item" href="#">Weekly</a>
                                                                        <a class="dropdown-item" href="#">Monthly</a>
                                                                        <a class="dropdown-item" href="#">Yearly</a>
                                                                    </div>
                                                                </span>
                                                            </div>

                                                        </div>
                                                        <div>
                                                            <input id="userStory" placeholder="as an ... i want to ... so that i ..." style="font-size: 36px;border: none;outline: none;padding-right: 30px;width: 100%;padding-bottom: 30px;padding-left: 30px;" type="text">
                                                            <br>
                                                            <div style="padding-left: 30px;font-size: 22px;">
                                                                <stong>What could we read from your story?</stong><br>
                                                                <div id="interpedState"></div><br><br></div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <br>
                                                <div class="card mb-sm-12 mb-12">
                                                    <div class="card-body p-0">
                                                        <div class="p-3 pl-4">

                                                            <div class="media align-items-center">
                                                                <div class="media-body">
                                                                    <small class="text-muted weight-300">Process flow</small>
                                                                    <p class="m-0 weight-400">See the read process flow.</p>
                                                                </div>
                                                                <span class="dropdown">
                                                                    <a aria-expanded="false" aria-haspopup="true" class="text-muted" data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">
                                                                        <span class="material-icons">more_vert</span>
                                                                    </a>

                                                                    <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right">
                                                                        <a class="dropdown-item" href="#">Daily</a>
                                                                        <a class="dropdown-item" href="#">Weekly</a>
                                                                        <a class="dropdown-item" href="#">Monthly</a>
                                                                        <a class="dropdown-item" href="#">Yearly</a>
                                                                    </div>
                                                                </span>
                                                            </div>

                                                        </div>
                                                        <div>
                                                            <div id="processFlow"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div aria-labelledby="wireframe-tab" class="tab-pane fade" id="wireframe" role="tabpanel">

                                                <div class="card mb-sm-12 mb-12">
                                                    <div class="card-body p-0">
                                                        <div class="p-3 pl-4">

                                                            <div class="media align-items-center">
                                                                <div class="media-body">
                                                                    <small class="text-muted weight-300">Wireframe generated</small>
                                                                    <p class="m-0 weight-400">See the wireframe we can generate from the userstory using keywords.</p>
                                                                </div>
                                                                <span class="dropdown">
                                                                    <a aria-expanded="false" aria-haspopup="true" class="text-muted" data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">
                                                                        <span class="material-icons">more_vert</span>
                                                                    </a>

                                                                    <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right">
                                                                        <a class="dropdown-item" href="#">Daily</a>
                                                                        <a class="dropdown-item" href="#">Weekly</a>
                                                                        <a class="dropdown-item" href="#">Monthly</a>
                                                                        <a class="dropdown-item" href="#">Yearly</a>
                                                                    </div>
                                                                </span>
                                                            </div>

                                                        </div>
                                                        <div>
                                                            <div id="compiledState"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div aria-labelledby="scriptsrc-tab" class="tab-pane fade" id="scriptsrc" role="tabpanel">
                                                <div class="card mb-sm-12 mb-12">
                                                    <div class="card-body p-0">
                                                        <div class="p-3 pl-4">

                                                            <div class="media align-items-center">
                                                                <div class="media-body">
                                                                    <small class="text-muted weight-300">Code</small>
                                                                    <p class="m-0 weight-400">Generated code that can be executed by a compile engine.</p>
                                                                </div>
                                                                <span class="dropdown">
                                                                    <a aria-expanded="false" aria-haspopup="true" class="text-muted" data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">
                                                                        <span class="material-icons">more_vert</span>
                                                                    </a>

                                                                    <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right">
                                                                        <a class="dropdown-item" href="#">Daily</a>
                                                                        <a class="dropdown-item" href="#">Weekly</a>
                                                                        <a class="dropdown-item" href="#">Monthly</a>
                                                                        <a class="dropdown-item" href="#">Yearly</a>
                                                                    </div>
                                                                </span>
                                                            </div>

                                                        </div>
                                                        <div>
                                                            <div id="codeToCompile"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div aria-labelledby="codeedit-tab" class="tab-pane fade" id="codeedit" role="tabpanel">
                                                <div class="card mb-sm-12 mb-12">
                                                    <div class="card-body p-0">
                                                        <div class="p-3 pl-4">

                                                            <div class="media align-items-center">
                                                                <div class="media-body">
                                                                    <small class="text-muted weight-300">Code</small>
                                                                    <p class="m-0 weight-400">Visual Studio Code Editor!</p>
                                                                </div>
                                                                <span class="dropdown">
                                                                    <a aria-expanded="false" aria-haspopup="true" class="text-muted" data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">
                                                                        <span class="material-icons">more_vert</span>
                                                                    </a>

                                                                    <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right">
                                                                        <a class="dropdown-item" href="#">Daily</a>
                                                                        <a class="dropdown-item" href="#">Weekly</a>
                                                                        <a class="dropdown-item" href="#">Monthly</a>
                                                                        <a class="dropdown-item" href="#">Yearly</a>
                                                                    </div>
                                                                </span>
                                                            </div>

                                                        </div>
                                                        <div>
                                                            <iframe id="codeEditor" src="/vs"></iframe>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <footer class="footer">
                                <p class="text-muted m-0">
                                    <small class="float-right">Made with
                                        <span class="material-icons md-16 text-danger align-middle">favorite</span>
                                        by Gerhard Richard Edens
                                    </small>
                                    <small>terraformer © 2019 - https://terraformer.app</small>
                                </p>
                            </footer>


                        </div>


                    </div>


                </section>


                <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="switchApp" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header px-4">
                                <h5 class="modal-title" id="exampleModalLabel">Select Application</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span class="material-icons ">close</span>
                                </button>
                            </div>
                            <div class="modal-body p-4">

                                <div class="row align-items-stretch app-switcher">
                                    <div class="col-lg-3 col-6 mb-4">
                                        <a class="text-dark" href="index.html">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <span class="material-icons md-48 " style="color:#21C3E0;">bubble_chart</span>
                                                    <p class="weight-400 m-0">Dashboard</p>
                                                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-6 mb-4">
                                        <a class="text-dark" href="ecommerce-dashboard.html">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <span class="material-icons md-48 text-primary">security</span>
                                                    <p class="weight-400 m-0">Ecommerce</p>
                                                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-6 mb-4">
                                        <a class="text-dark" href="mailbox.html">
                                            <div class="card h-100 active-app">
                                                <div class="card-body text-center">
                                                    <span class="material-icons md-48 text-danger">blur_on</span>
                                                    <p class="weight-400 m-0">Mail Box</p>
                                                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                                                    <span class="material-icons app-selected md-16">check</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-6 mb-4">
                                        <a class="text-dark" href="blogger-feed-list.html">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <span class="material-icons md-48 text-warning">camera</span>
                                                    <p class="weight-400 m-0">Blogger</p>
                                                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>


                                    <div class="col-lg-3 col-6 mb-lg-0 mb-4">
                                        <a class="text-dark" href="task-manager.html">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <span class="material-icons md-48" style="color:#f98e69;">leak_add</span>
                                                    <p class="weight-400 m-0">Task Manager</p>
                                                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-6 mb-lg-0 mb-4">
                                        <a class="text-dark" href="notes.html">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <span class="material-icons md-48 text-success">color_lens</span>
                                                    <p class="weight-400 m-0">Notes</p>
                                                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-6 ">
                                        <a class="text-dark" href="file-uploder.html">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <span class="material-icons md-48 " style="color:#9b84fb">category</span>
                                                    <p class="weight-400 m-0">File Manager</p>
                                                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-6 ">
                                        <a class="text-dark" href="photos-videos.html">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <span class="material-icons md-48 text-muted">layers</span>
                                                    <p class="weight-400 m-0">Videos & Photos</p>
                                                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer px-4">
                                <div class="custom-control custom-checkbox mr-auto">
                                    <input class="custom-control-input" id="customCheck1" type="checkbox">
                                    <label class="custom-control-label" for="customCheck1">Default open this application</label>
                                </div>
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-primary" type="button">Switch Application</button>
                            </div>
                        </div>
                    </div>
                </div>

                <script src="assets/js/lib/moment.min.js?{{ cachebust }}"></script>
                <script src="assets/js/lib/jquery.min.js?{{ cachebust }}"></script>
                <script src="assets/js/lib/popper.min.js?{{ cachebust }}"></script>
                <script src="assets/js/bootstrap/bootstrap.min.js?{{ cachebust }}"></script>
                <script src="assets/js/chosen-js/chosen.jquery.js?{{ cachebust }}"></script>
                <script src="assets/js/custom.js?{{ cachebust }}"></script>


                <!-- Visual Studio Code - Monaco Editor -->
                <script>
                    var codeEditor = document.getElementById('codeEditor');
                    setTimeout(function () {
                        [codeEditor].forEach(reveal);
                    }, 3000);
                    function reveal(iframe) {
                        iframe.style.width = $(iframe).parent().width() - 60;
                        iframe.style.height = '100%';
                        iframe.style.display = 'block';
                        iframe.style.visibility = 'visible';
                    }
                </script>

                <!-- The rest of the dependencies -->
                <script src="js/jsplumb.js?{{ cachebust }}"></script>
                <script src="js/prism.js?{{ cachebust }}"></script>

                <!-- Ultronic Architect Engine -->
                <script src="js/engine.js?{{ cachebust }}"></script>
            </body>
        </html>
